@import url("https://fonts.googleapis.com/css?family=Kreon|Quicksand");

body {
  background-color: #C0C0C0;
  background-image: url("./public/Beer1.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Quicksand-Text{
  text-align: top;
  text-transform: uppercase;
  text-indent: 50px;
  text-shadow: -1px -1px 0px rgba(255,255,255,2), 1px 1px 0px rgba(0,0,0,2);
  padding-top:100px;
  font-size: 50px;
}

.typing-text{
  margin: 50px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,2), 1px 1px 0px rgba(0,0,0,0.8);
	color: white;
	opacity: 0.4;
  font: 700 30px 'Bitter';
  padding-left: 120px 
}

.radio-button{
  text-shadow: -1px -1px 0px rgba(0,0,0,6), 1px 1px 0px rgba(255,255,255,6);
  font-size:18px;
  backdrop-filter: contrast(80%);
  padding-left: 400px;
}

.Kreon-Text {
  font-family: "Kreon", serif !important;
}


@keyframes glow {
  from {
    text-shadow: 0 0 0.05em #ffddad, 0 0 0.1em #ffddad, 0 0 0.15em #7cd9ff,
      0 0 0.35em #7cd9ff, 0 0 0.4em #7cd9ff, 0 0 0.55em #7cd9ff,
      0 0 0.7em #7cd9ff;
  }
  to {
    text-shadow: 0 0 0.15em #fff, 0 0 0.25em #ffddad, 0 0 0.35em #5bd0ff,
      0 0 0.55em #5bd0ff, 0 0 0.65em #5bd0ff, 0 0 0.75em #5bd0ff,
      0 0 0.85em #5bd0ff;
  }
}

.navbar {
  margin-bottom: 10px;
  background-color: black;
}
